body {
  background-color: #88dbff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

/*css propre au header*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0;
  background-color: #f5f9fd;
  border-bottom: 2px solid #00056a;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

header .title {
  color: #00056a;
  font-weight: bold;
  letter-spacing: 6px;
  padding-left: 30px;
}

header .slogan {
  color: #00056a;
  font-size: 1.1em;
  letter-spacing: 8px;
  padding-right: 30px;
}

header .slogan span {
  font-size: 0.7em;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.carteP {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #dfefff95;
  color: #00056a;
  border: 2px solid #00056a;
  border-radius: 10px;
  height: 370px;
  width: 300px;
  margin: 10px 10px;
  padding: 2px 4px;
  font-size: 0.7em;
  box-shadow: 2px 2px 6px black;
}

.bandeauPrevision {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  width: 1400px;
}

.geoloc {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.boutton {
  background-color: #00056a;
  color: #f5f9fd;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px;
  font-weight: bold;
}

.boutton:hover {
  background-color: #f5f9fd;
  color: #00056a;
  border: 1px solid #00056a;
  border-radius: 5px;
}
